.stApp {
    background: url('https://images.unsplash.com/photo-1487621167305-5d248087c724?auto=format&fit=crop&q=80&w=1932&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.stApp > header {
    background-color: transparent;
}
a.link-class {
    color: red; /* Change the desired link color here */
}
.st-my-custom-class a{
    color: blue;
}